body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.top {
    background-color: #383838;
    width: 75%;
    padding: 2%;
    text-align: center;
    border-bottom: 1px solid #3f3f3f;
    font-size: 1.5rem;
}

#unity-container {
    position: relative;
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#unity-canvas {
    background: #231F20;
    width: 100%;
    height: 100%;
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-footer {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background-color: #2a2a2a;
    border-top: 1px solid #3f3f3f;
}

.unity-mobile #unity-container {
    width: 100%;
    height: 100%;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%;
}

.unity-mobile #unity-footer {
    display: none;
}

#unity-logo-title-footer {
    width: 102px;
    height: 38px;
    background: url('unity-logo-title-footer.png') no-repeat center;
    background-size: contain;
}

#unity-build-title {
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
}

#unity-fullscreen-button {
    cursor: pointer;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
    margin-left: auto;
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}
